.navbar {
	display: flex;
	align-items: center;
	height: 64px;
	background-color: #fff;
	border-bottom: 1px solid #e2e5ff;

	&__row {
		display: flex;
		align-items: center;
		flex: 1;
		margin: 0 auto;

		.spacer {
			display: flex;
			flex: 1 1 auto;
		}

		.title {
			font-size: 1.25rem;
		}

		.version {
			font-size: 0.9rem;
			font-weight: 300;

			b {
				font-weight: bold;
				font-family: 'Montserrat';
			}
		}

		@media (min-width: 1200px) {
			max-width: 90vw;
		}
	}
}
